inputs/OUTPUT*
inputs/zphot.param*
*__pycache__*

outputs/*
inputs/cdfs_results.txt
inputs/cosmos_results.txt
inputs/uds_results.txt
testing.ipynb
grizli
inputs/alternate_catalogues/combined.normal.cat



